<p id="notice"><%= notice %></p>

<p>
  <strong>Topico:</strong>
  <%= @sala_bate_papo.topico %>
</p>

<%= link_to 'Edit', edit_sala_bate_papo_path(@sala_bate_papo) %> |
<%= link_to 'Back', sala_bate_papos_path %>
